<h1>ログイン</h1>

<hr>

<form action="/log_in" method="post">
  <input name="authenticity_token" value="<%= e session[:csrf] %>" type="hidden" />
  <div class="form-group">

    <p>
      <label for="name">ユーザー名：</label>
      <input name="name" type="text" class="form-control" />
    </p>

    <p>
      <label for="password">パスワード：</label>
      <input name="password" type="password" class="form-control" />
    </p>

    <p>
      <input type="submit" value="ログイン" class="btn btn-primary" />
      <a href="/sign_up" class="btn btn-default">アカウントを作成</a>
    </p>

  </div>
</form>
